:root{
  --acent: #f66b0e;
  --acent-dark: #d65600;
  --dark: #1b1b1a;
  --dark-ligh: #70706c;
  --white: #f9f9f9;
}

body{
  background-color: var(--dark);
  color: var(--white);
}

h1{
  color: var(--acent);
  text-align: center;
}

form{
  width: 80vw;
  border: 5px solid var(--dark-ligh);
  border-radius: 11px;
  margin: 10px;
  max-width: 600px;
}
form p{
  margin: 0;
}
form input{
  display:list-item;
  margin: 10px;
  height: 20px;
  font-size: 15px;
  width: 80%;
  background-color: var(--dark);
  border: none;
  border-bottom: 2px solid var(--dark-ligh);
}

.flex, form{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn {
  font-weight: 700;
  height: 24px;
  font-size: 16px;
  background-color: var(--acent);
  border: none;
  border-radius: 6px;
}

.btn:hover{
  background-color: var(--acent-dark);
}